@charset "UTF-8";
/*variables titulos*/
/*variables parrafos*/
/*Operaciones imágenes*/
/*mixin alto ancho*/
body {
  background-color: #ddff99;
  margin: 3px; }

/*scss del header*/
.header {
  background-color: #e5592e;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }

nav {
  background-color: #e5592e;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  margin: 0px; }

nav ul {
  margin: 0px 5px 0px 65px; }
  nav ul li a {
    color: #e6e6ff;
    line-height: 30px;
    font-family: Manrope;
    font-size: 20px;
    text-decoration: none;
    margin-right: 35px; }

.submenu {
  background-color: #e5592e;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  margin: 0px; }
  .submenu a {
    color: #e6e6ff; }

/*css de footer*/
footer {
  background-image: url(https://4.bp.blogspot.com/-lwKEWM1wmoo/UAMLMMPu6mI/AAAAAAAACJY/dd-clVhnN2s/s400/titulo%2Bvisible%2Bblog%2B2012%2Bc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #ff8533; }

.footer__redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 23px; }
  .footer__redesSociales #subir {
    color: white;
    font-size: 20px;
    font-family: Book Antiqua;
    margin-left: 20px; }

.redesSociales__imagen {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 75px 0px 0px; }

/*css de carrusel*/
.carousel {
  margin-top: 10px; }

/*scss Index*/
.peuhec__titulo {
  color: #666633;
  font-size: 35px;
  font-family: Josefin Sans;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.parrafo__Index {
  font-size: 18px;
  line-height: 25px;
  font-family: candara;
  text-align: justify; }

.imagenIndex {
  width: 700px; }

/*bucle Index*/
.colorparrafo-1 {
  width: 450px;
  background-color: #629e79; }

.colorparrafo-2 {
  width: 900px;
  background-color: #629e79; }

.colorparrafo-3 {
  width: 1350px;
  background-color: #629e79; }

/*scss de NuestrosObjetivos*/
.titulo__Objetivos {
  color: #666633;
  font-size: 35px;
  font-family: Josefin Sans;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 1050px;
  background-color: #629e79; }

.texto__Objetivos {
  font-size: 18px;
  line-height: 25px;
  font-family: candara;
  text-align: justify;
  padding-top: 15px;
  align-items: center;
  padding-top: 90px; }

/*scss de NuestroLibro*/
.titulo__NuestroLibro {
  color: #666633;
  font-size: 35px;
  font-family: Josefin Sans;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px; }

#imagen__NuestroLibro {
  text-align: center; }
  #imagen__NuestroLibro .imagen__NuestroLibro--tamaño {
    height: 500px;
    width: 360px; }
